
<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()" >
    <div class="box-login bg-p">
    <div class="avatar">
        <i class="pi pi-user"></i>
    </div>      
             
    <div class="item-form">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" 
            pInputText placeholder="user@example.com" 
            formControlName="loginValue" pInputText>
            <p-message 
            *ngIf="validateField('loginValue')" 
            severity="error"></p-message>                          
        </div>
       
       
       
    </div>
    <div class="item-form">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password"  
            pInputText 
            formControlName="passwordValue"
            placeholder="Password">
            <p-message 
            *ngIf="validateField('loginValue')" 
            severity="error"></p-message>          
        </div>
    
       
    </div>
    <button class="login-button pointer" [formGroup]="myForm" (click)="login()">
        Iniciar Sesión
    </button>    
    <div class="login-button pointer">
        <a [routerLink]="[ '/auth/register']">Register</a>
             
    </div>
    <span> <p-message severity="error" text="Usuario y/o contraseña incorrectos" *ngIf="haveError"></p-message></span>   
    </div>
   
</form>   