.container-login{
    padding-top: 2rem;
    height: 100vh; 
    width:100vw;
    background-image: url(../../../../assets/img/footer.png);
    background-size: cover;
    background-position: bottom right; 
    background-repeat: no-repeat;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.login-form{
    animation-duration: 1s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-block-end: 100%;
      width: 300%
    }
  
    to {
      margin-block-end: 0%;
      width: 100%;
    }
  }

.item-form{
    padding: .8rem;    
}


.login-img{
    width: 10rem;
    height: 10rem;
}

.bg-p{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.19509802211900384) 48%, rgba(206,170,149,0.38837533304337357) 98%); 
    border-radius: 2rem;
    height: 25rem;
    width: 25rem;   
    box-shadow: 3px 3px 4px 4px rgba(104,78,70,1);
}



.login-button{
    background: #fff;
    border: 0.9px solid rgba(104,78,70,1);  
    border-radius: 2rem;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(104,78,70,1);
    box-shadow: 3px 3px 4px 4px rgba(104,78,70,1);
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
        text-decoration: none;
        color: rgba(104,78,70,1);
              
    }
}
.pointer {
	cursor: pointer;
}

.avatar {
   
    i{
        font-size: 3rem;
        color: rgba(104,78,70,1);
    }
}

.tag-input{
    font-size: rem;
}

.box-login{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}