<div class="home-plt container">
    <p-fieldset legend="Modelo para la Construcción de los Códigos de Ética" [toggleable]="true" >
       <p class="txt-inf">
        Ética pública
        Disciplina basada en normas de
        conducta que se fundamentan en
        el deber público y que busca en
        toda decisión y acción, la
        prevalencia del bienestar de la
        sociedad en coordinación con los
        objetivos del Estado mexicano, de
        los entes públicos y de la
        responsabilidad de la persona ante éstos.
       </p>
       <button pButton type="button"class="p-button-outlined">
        <a href="https://drive.google.com/file/d/1jjPzKXe4ZOPeQnv5E5PAdC72mHENCZR4/view?usp=sharing">Descargar Modelo para la Construcción de los Códigos de Ética </a>
       </button>
       
    </p-fieldset>


</div>


<app-sppiner></app-sppiner>  