<div class="home-plt container">
    <p-fieldset legend="Infomación general" [toggleable]="true" >
       <p class="txt-inf">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
       Provident distinctio eveniet eius? Ad eaque saepe fugiat, enim nostrum libero
       mollitia sapiente velit id eius harum quis magni corrupti nemo ipsa.
       Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Consequuntur earum eaque facilis aut quam nemo, quidem nisi 
       accusantium voluptatem consequatur necessitatibus illum maxime 
       quo laudantium praesentium minima iusto fugiat totam.
       </p> 
    </p-fieldset>
</div>

