.menu-cards {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  width: 100vh;
  height: 100vh;    
  border: none;
  @media (max-width: 768px) {
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  
}
}

.da-click {
  cursor: pointer;
}
.separator {
  width: 1px;
  height: 2%;
  background-color: #e6e6e6;
  margin: 0 1rem;
}