
<form class="search-form"  autocomplete="off">    
    <div class="p-fluid grid">
        <!-- delete buttom -->
        <!-- <div  class="field col-12 md:col-4 form-item">          
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>                   
        </div>  -->
                    <!--  Strart Fields-->
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-align-justify"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputName" pInputText class="p-inputtext-lg"> 
                    <label for="inputName">Titulo:</label>
                </span>
            </div>
           
        </div>
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-link"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputUrl" class="p-inputtext-lg"> 
                    <label for="inputUrl">Url:</label>
                </span>
            </div>
            
        </div>       
        <!-- Boton de guardar -->
        <div  ng class="field col-12 md:col-4 form-item">            
            <button pButton pRipple type="button" label="Guardar"class="p-button-outlined"icon="pi pi-link"></button>            
        </div>
       
    </div>
</form>


