<p-messages></p-messages>
<div class="datos-generales">
    <p-panel header="Registrar Código de Ética">     
      <app-form-add-cdo></app-form-add-cdo>
    </p-panel>

    <p-divider id="divider-user" layout="vertical" align="center">
      <i class="pi pi-user mr-2"></i>
    </p-divider>
    
    <p-panel header="Código de Ética">
      <button pButton type="button"class="p-button-outlined" (click)="showDialog()">
        Editar Código de Ética 
      </button>
    </p-panel>  
</div>  
<p-dialog header="Actualizar Código de Ética" [(visible)]="display" >
  <app-form-add-cdo></app-form-add-cdo>
</p-dialog>