<p-messages></p-messages>

<div class="datos-generales">
    <p-panel header="Reglas de integridad">  
      <app-form-register-history [historyEdit]="data" (onSave)="saveSubmit( $event )"></app-form-register-history>
    </p-panel>
    <p-divider id="divider-user" layout="vertical" align="center">
      <i class="pi pi-user mr-2"></i>
    </p-divider>
    
    <p-panel header="Etadisticas">
     <label>Lorem ipsum dolor sit amet, consectetur adip</label>
    </p-panel>  

    
</div>  
<p-dialog header="Datos de contacto" >
  
</p-dialog>


