<div class="footer-main-container container">
    <div>
        <h6>Categories</h6>
        <nav class="footer-menu">
            <a href="#">Kitchen</a> 
            <a href="#">Office</a>
                   
        </nav>
    </div>
    <div>
        <h6>About us</h6>
        <nav class="footer-menu">
            <a href="#">Our History</a> 
            <a href="#">Mission, Vision and Values</a>
            <a href="#">Careers</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of service</a>
        </nav>                
    </div>
    <div>
        <h6>Support</h6>
        <nav class="footer-menu">
            <a href="#">Frequent Questions</a>
            <a href="#">Online Help</a>
            <a href="#">Trust and Security</a> 
        </nav>
    </div>             
</div>
<p class="copyright p-component "> Copyright © 2022 Secretaría Ejecutiva del Sistema Anticorrupción del Estado de Tlaxcala – SESAET</p> 
 