<footer class="footer">
        <div class="contacto">            
            <a class="phone" href="tel:800-0000-000">800-0000-000</a>
        </div>   
        <div class="barra">
            <div class="logotipo">
                <picture>
                    <source srcset="/assets/img/logo-left.avif" type="image/avif">
                    <source srcset="/assets/img/logo-left.webp" type="image/webp">
                    <img src="/assets/img/logo-left.png" alt="One product">
                </picture> 
            </div>
            <div class="titulo">
                <h6>
                    Portal de Órganos Internos de Control <span>de los Entes Públicos del Estado de Tlaxcala</span> 
                </h6>
            </div>
        </div>      
        <p class="copyright"> Copyright © {{anio}} Secretaría Ejecutiva del Sistema Anticorrupción del Estado de Tlaxcala – SESAET</p>
</footer>