
.footer-main{   
    border-top: 0.1rem solid var(--c-border);
    margin-top: 5rem;
    padding-top: 5rem; 
    h6{ 
      margin-bottom: 0.1rem;
    }
  }
 
  .footer-main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
  }
  
  .footer-menu a{
    display: block;
  }
  
  .copyright{
    text-align: center;
    padding-top: 5rem;    
  }

  .about-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem; 
  }
  
  .about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }