
.footer{ 
    padding-top: 2rem;
    height: 20rem;
    background-image: url(../../../../assets/img/footer.jpg);
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  
  }

  .titulo{
    font-size: 15rem;
    color: var(--text-color-secondary);
    text-align: center;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .logotipo{   
    margin-left: auto;
    margin-right: auto;
  }

  .barra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
 
  .contacto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    a{
      color: var(--text-color-secondary);
      text-decoration: none;
      margin-left: 1rem;
    }
  }

  .phone{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .phone::before{
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../../../../assets/img/phone.png);

  }
  