
.footer{ 
    padding-top: 2rem;
    height: 30rem;
    background-image: url(../../../../assets/img/footer.png);
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
  }

  .titulo{
    text-align: center;       
    text-transform: uppercase;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    span
    {    
        color: var(--text-color-secondary);
    }
  }

  .logotipo{   
    margin-left: auto;
    margin-right: auto;
  }

  .barra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: bottom;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
 
  .contacto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    a{
      color: var(--text-color-secondary);
      text-decoration: none;
      margin-left: 1rem;
    }
  }

  .phone{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .phone::before{
    content: '';
    display: block;
    margin-right: .6rem;
    width: 3rem;
    height: 3rem;
    background-image: url(../../../../assets/img/phone.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-end-start-radius: 1rem; 
    border-start-end-radius: 1rem;    
  }
  
  .copyright{    
    background-color: #CEAA95;
    text-align: center;
    margin: 5rem 0 0 0;    
    color: var(--text-color-primary);
    padding: 1rem;
    font-size: 0.8rem;
  }