
.header-container{    
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    align-items: center;
    logo-left {
        width: 25%;
        margin: 0 auto;            
    }
    logo-right {
        width: 25%;
        margin: 0 auto;
    }

    h6{
        text-align: center;       
        text-transform: uppercase;
        margin-top: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    span
    {    
        color: var(--text-color-secondary);
    }
      
}

.border-logo{
    border-end-start-radius: 2rem; 
        border-start-end-radius: 2rem;
}

.header{
    min-height: 32rem;
    height: 32rem;
    background-image: url(../../../../assets/img/footer.png);
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 15rem;

    @media (min-width: 768px) {

        .header{
            padding: 2rem 0;
        }
    }

}

.header-bar{
    display: flex;   
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
}

.item-hb{
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}