
.header-container{    
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    align-items: center;
    logo-left {
        width: 25%;
        margin: 0 auto;            
    }
    logo-right {
        width: 25%;
        margin: 0 auto;
    }

    h6{
        text-align: center;       
        text-transform: uppercase;
        margin-top: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    span
    {    
        color: var(--text-color-secondary);
    }

    img {
        border-end-start-radius: 3.5rem; 
        border-start-end-radius: 3.5rem;
    }
     
}

.header{
    min-height: 20rem;
    height: 20rem;
    background-image: url(../../../../assets/img/footer.jpg);
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 15rem;

    @media (min-width: 768px) {

        .header{
            padding: 2rem 0;
        }
    }

}