<header class="header">
    <div class="header-container container">
        <div class="logo-left">
            <picture>
                <source srcset="/assets/img/logo-left.avif" type="image/avif">
                <source srcset="/assets/img/logo-left.webp" type="image/webp">
                <img src="/assets/img/logo-left.png" alt="One product">
            </picture>  
        </div>
        <div class="title-page">
            <h6>
                Portal de Órganos Internos de Control <span>de los Entes Públicos del Estado de Tlaxcala</span> 
            </h6>
        </div>
        <div class="logo-right">
            <picture>
                <source srcset="/assets/img/logo-right.avif" type="image/avif">
                <source srcset="/assets/img/logo-right.webp" type="image/webp">
                <img src="/assets/img/logo-right.png" alt="One product" class="border-logo">
            </picture>
        </div>    
    </div>
   
    <div class="header-bar">
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item1.avif" type="image/avif">
                <source srcset="/assets/img/item1.webp" type="image/webp">
                <img src="/assets/img/item1.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item2.avif" type="image/avif">
                <source srcset="/assets/img/item2.webp" type="image/webp">
                <img src="/assets/img/item2.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item3.avif" type="image/avif">
                <source srcset="/assets/img/item3.webp" type="image/webp">
                <img src="/assets/img/item3.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item4.avif" type="image/avif">
                <source srcset="/assets/img/item4.webp" type="image/webp">
                <img src="/assets/img/item4.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item5.avif" type="image/avif">
                <source srcset="/assets/img/item5.webp" type="image/webp">
                <img src="/assets/img/item5.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item6.avif" type="image/avif">
                <source srcset="/assets/img/item6.webp" type="image/webp">
                <img src="/assets/img/item6.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item7.avif" type="image/avif">
                <source srcset="/assets/img/item7.webp" type="image/webp">
                <img src="/assets/img/item7.png" alt="One product">
            </picture>
        </div>
    </div>
</header>

