<header class="header">
  <div class="header-container container">
    <div class="logo-left">
      <picture>
        <source srcset="/assets/img/logo-left.avif" type="image/avif" />
        <source srcset="/assets/img/logo-left.webp" type="image/webp" />
        <img src="/assets/img/logo-left.png" alt="One product" />
      </picture>
    </div>
    <div class="title-page">
      <h4>
        <!-- Portal de Órganos Internos de Control <span>de los Entes Públicos del Estado de Tlaxcala</span>  -->
        {{ this.title_page }}
      </h4>
    </div>
    <!-- <div class="logo-right">
            <picture>
                <source srcset="/assets/img/logo-right.avif" type="image/avif">
                <source srcset="/assets/img/logo-right.webp" type="image/webp">
                <img src="/assets/img/logo-right.png" alt="One product" class="border-logo">
            </picture>
        </div>     -->
  </div>

  <div class="header-bar-vertical">
    <div class="item-hb">
      <picture>
        <source srcset="/assets/img/CC_Vertical.avif" type="image/avif" />
        <source srcset="/assets/img/CC_Vertical.webp" type="image/webp" />
        <img src="/assets/img/CC_Vertical.png" alt="One product" />
      </picture>
    </div>
  </div>
  <div class="header-bar">
    <div class="item-hb">
      <picture>
        <source srcset="/assets/img/Logos_CC.avif" type="image/avif" />
        <source srcset="/assets/img/Logos_CC.webp" type="image/webp" />
        <img src="/assets/img/Logos_CC.png" alt="logos_cc" />
      </picture>
    </div>
    <!-- <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item2.avif" type="image/avif">
                <source srcset="/assets/img/item2.webp" type="image/webp">
                <img src="/assets/img/item2.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item3.avif" type="image/avif">
                <source srcset="/assets/img/item3.webp" type="image/webp">
                <img src="/assets/img/item3.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item4.avif" type="image/avif">
                <source srcset="/assets/img/item4.webp" type="image/webp">
                <img src="/assets/img/item4.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item5.avif" type="image/avif">
                <source srcset="/assets/img/item5.webp" type="image/webp">
                <img src="/assets/img/item5.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item6.avif" type="image/avif">
                <source srcset="/assets/img/item6.webp" type="image/webp">
                <img src="/assets/img/item6.png" alt="One product">
            </picture>
        </div>
        <div class="item-hb">
            <picture>
                <source srcset="/assets/img/item7.avif" type="image/avif">
                <source srcset="/assets/img/item7.webp" type="image/webp">
                <img src="/assets/img/item7.png" alt="One product">
            </picture>
        </div> -->
  </div>
</header>