.home-oic{
    padding-bottom: 10rem;
}

.txt-home-oic{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.txt-inf{
    font-size: 1.4rem;
        
    margin-bottom: 2rem;
}