<div class="home-oic container">
    <p-fieldset legend="Infomación general" [toggleable]="true">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo necessitatibus aut cum, dolore corporis harum 
        fuga earum doloremque eos adipisci nobis reprehenderit a, natus fugit ea, quaerat perspiciatis quibusdam voluptatum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam sit dolorem nostrum 
        sed perferendis modi reprehenderit consectetur, sint, necessitatibus, possimus asperiores et ullam.
         Nobis qui hic voluptatem commodi illum quibusdam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo necessitatibus aut cum, dolore corporis harum 
        fuga earum doloremque eos adipisci nobis reprehenderit a, natus fugit ea, quaerat perspiciatis quibusdam voluptatum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam sit dolorem nostrum 
        sed perferendis modi reprehenderit consectetur, sint, necessitatibus, possimus asperiores et ullam.
         Nobis qui hic voluptatem commodi illum quibusdam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo necessitatibus aut cum, dolore corporis harum 
        fuga earum doloremque eos adipisci nobis reprehenderit a, natus fugit ea, quaerat perspiciatis quibusdam voluptatum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam sit dolorem nostrum 
        sed perferendis modi reprehenderit consectetur, sint, necessitatibus, possimus asperiores et ullam.
         Nobis qui hic voluptatem commodi illum quibusdam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo necessitatibus aut cum, dolore corporis harum 
        fuga earum doloremque eos adipisci nobis reprehenderit a, natus fugit ea, quaerat perspiciatis quibusdam voluptatum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam sit dolorem nostrum 
        sed perferendis modi reprehenderit consectetur, sint, necessitatibus, possimus asperiores et ullam.
         Nobis qui hic voluptatem commodi illum quibusdam.
    </p-fieldset>
</div>

