<div class="home-oic container">
    <p-fieldset legend="Infomación general" [toggleable]="true" >
       <p class="txt-inf">
        En relación a la Prioridad 2 de la Política Anticorrupción del Estado de Tlaxcala,
        la cual consiste en generar datos abiertos y versiones públicas de los procedimientos de responsabilidad concluidos
        y del número de aquellos que están en proceso,
        el Comité Coordinador ha diseñado este sitio como una herramienta tecnológica para consultar 
        información detallada de los Órganos Internos de Control, con el objetivo de conocer y
        monitorear su integración, sus planes de trabajo y en general la información pública que generan.
       </p> 
    </p-fieldset>
</div>

