<div class="home-oic container">
    <p-fieldset legend="Infomación general" [toggleable]="true" >
       <p class="txt-inf">
        Este Portal es una herramienta tecnológica para consultar información 
        detallada de los Órganos Internos de Control, con el objetivo de conocer 
        su integración, sus planes de trabajo y en general la información pública 
        que generan. Esta línea de acción se relaciona con la Prioridad 2 de 
        la Política Anticorrupción del Estado de Tlaxcala, la cual consiste en 
        generar datos abiertos y versiones públicas de los procedimientos de responsabilidad
        concluidos y del número de aquellos que están en proceso.
       </p> 
    </p-fieldset>
</div>

