<p-card header="Ramon Diaz Soler" 
subheader="Titular del Organo Interno de control" 
[style]="{width: '400px'}" 
styleClass="p-card-shadow">
    <ng-template pTemplate="header">       
        <img src="assets/img/user.webp" alt="Card" class="img-hearder-card">
    </ng-template>
    <div class="datos-gen">
      <p>
        <span class="label-datos">Nombre:</span>
        <span class="datos">Ramon Diaz Soler</span>
      </p>
      <p>
        <span class="label-datos">Cargo:</span>
        <span class="datos">Titular del Organo Interno de control</span>
      </p>
      <p>
        <span class="label-datos">Teléfono:</span>
        <span class="datos">11-4444-4444 Ext:109</span>
      </p>
      <p>
        <span class="label-datos">Email:contraloria@tlaxcala.org</span>         
      </p>
      <!-- <p>
        <span class="redes-sociales"> 
          <i class="pi pi-facebook" style="font-size: 2rem"></i>
          <i class="pi pi-twitter" style="font-size: 2rem"></i>
          <i class="pi pi-instagram" style="font-size: 2rem"></i>
        </span>
      </p>    -->
    </div>   
  </p-card>