<p-card [header]="users.name" 
[subheader]="users.charge" 
[style]="{width: '400px'}" 
styleClass="p-card-shadow">
    <ng-template pTemplate="header">       
        <img src="assets/img/user.webp" alt="Card" class="img-hearder-card">
    </ng-template>
    <div class="datos-gen">
      <p>
        <span class="label-datos">NOMBRE: </span>
        <span class="datos">{{users.name}}</span>
      </p>
      <p>
        <span class="label-datos">CARGO: </span>
        <span class="datos">{{ users.charge }}</span>
      </p>
      <p>
        <span class="label-datos">TEL: </span>
        <span class="datos">{{users.phone}}</span>
      </p>
      <p>
        <span class="label-datos">EMAIL: {{users.email}}</span>         
      </p>
      <!-- <p>
        <span class="redes-sociales"> 
          <i class="pi pi-facebook" style="font-size: 2rem"></i>
          <i class="pi pi-twitter" style="font-size: 2rem"></i>
          <i class="pi pi-instagram" style="font-size: 2rem"></i>
        </span>
      </p>    -->
    </div>   
  </p-card>