<div class="title_page"> 
    <h3>
        Cambiar contraseña 
    </h3>   
</div>
<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="changaPassword()">
    <div class="box-login bg-p">          
    <div class="avatar">        
        <i class="pi pi-user"></i>
    </div>      
             
    <div class="item-form">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password"  
            pInputText 
            formControlName="oldPassword"
            placeholder="Contraseña Actual">                     
        </div>                
    </div>
    <div class="item-form">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password"  
            pInputText 
            formControlName="newPassword"
            placeholder="Contraseña Nueva">                     
        </div>              
    </div>
    <div class="item-form">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password"  
            pInputText 
            formControlName="confirmPassword"
            placeholder="Confirmar Contraseña">                     
        </div>
               
    </div>
    <div class="footer-btn">
        <button class="login-button pointer" [formGroup]="myForm" type="submit">
            Guardar
        </button>
    </div>   
    <div class="showError">
        <p-message 
        *ngIf="validateField('oldPassword')" 
        severity="error" [text]= "'Contraseña actual es '+getErrorMessage('oldPassword')"></p-message>
        <p-message 
        *ngIf="validateField('newPassword')" 
        severity="error" [text]="'Contraseña nueva es '+getErrorMessage('newPassword')"></p-message> 
        <p-message 
        *ngIf="validateField('confirmPassword')" 
        severity="error" [text]="getErrorMessage('confirmPassword')"></p-message>
    </div>
    <p-messages></p-messages>     
    </div>
</form>   
