

.item-form{
    padding: .6rem;

}


.login-img{
    width: 10rem;
    height: 10rem;
}

.bg-p{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.19509802211900384) 48%, rgba(206,170,149,0.38837533304337357) 98%);
    border-radius: 2rem;
    height: 25rem;
    width: 25rem;
    box-shadow: 3px 3px 4px 4px rgba(104,78,70,1);
}



.login-button{
    background: #fff;
    border: 0.9px solid rgba(104,78,70,1);
    border-radius: 2rem;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(104,78,70,1);
    box-shadow: 3px 3px 4px 4px rgba(104,78,70,1);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: rgba(104,78,70,1);

    }
}
.pointer {
	cursor: pointer;
}

.avatar {

    i{
        font-size: 3rem;
        color: rgba(104,78,70,1);
    }
}

.tag-input{
    font-size: rem;
}

.box-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Input{
    width: 20rem;
    height: 3rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 4px 4px rgba(104,78,70,1);
    margin-top: .5rem;
}
.title_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:1rem;

}
.showError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;

}

.footer-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    z-index: 1;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-track {
background-color: transparent;
}


  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
