<!-- 
    This is the register page.
    It is used to register a new user.
 -->

<div class="register">
    <form action="">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name"  />
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email"/>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="register()">Register</button>
        </div>
    </form>
</div>