<nav class="nav-bar container">
    <div class="nav-menu">
        <p-menubar [model]="items">
            <ng-template pTemplate="end">
                <span>{{ isLoggedIn?.login?.user?.name }}</span>
                <button pButton type="button" (click)="logout()" label="Logout"></button>
                <p-avatar
                shape="circle" 
                pBadge value="5"     
                size="large" class="p-avatar-large" >
                <img src="/assets/img/oic.png" alt="avatar"  />
                </p-avatar>
            </ng-template>
        </p-menubar>
    </div>
</nav>



