.plan-trabajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;    
}

.txt{
    width: 50rem;
    size: 1.5rem;
  }

.label-buscar{
    font-size: 1.5rem;
    color: var(--text-color-secondary);
    font-weight: bold;
    padding-bottom: 1rem;
}

.p-plan-trabajo{
    width: 35rem;
    max-width: 35rem;
}