.plan-trabajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        max-width: 100%;     
    }
    @media (max-width: 320px) {
        flex-direction: column;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;        
    }
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;    
}

.txt{
    width: 50rem;
    size: 1.5rem;
  }

.label-buscar{
    font-size: 1.5rem;
    color: var(--text-color-secondary);
    font-weight: bold;
    padding-bottom: 1rem;
}

.p-plan-trabajo{
    width: 35rem;
    max-width: 35rem;
    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        
    }
}

.message-finder{
    display: flex;
}