<div class="plan-trabajo">

  <div class="message-fider">
    <app-finder-oic (onEnter)="loadWorkPlan( $event )" (onSelectedOicChange)="loadWorkPlanFinderSelectedOic( $event )"></app-finder-oic>
    <p-messages></p-messages>
  </div>

  <p-divider layout="vertical" align="center">
    <i class="pi pi-user mr-2"></i>
  </p-divider>

  <p-panel header="Plan de Trabajo por año" class="p-plan-trabajo">
    <p-tree [value]="files" selectionMode="single" [(selection)]="filterTree" (onNodeSelect)="nodeSelect($event)"
      (onNodeUnselect)="nodeSelect($event)">
    </p-tree>
  </p-panel>

</div>