
     <div class="card-login"> 
            <p-avatar  
            image="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" 
            [style]="{'background-color': '#9c27b0', 'color': '#ffffff',
             'width':'6rem', 'height':'6rem'}"  
             styleClass="mr-2" size="xlarge"
             shape="circle" ></p-avatar>
        <div class="card-body">
            <h5 class="card-title">User Demo</h5>
            <p class="card-text">user@login.com</p>
            <button pButton type="button" label="Iniciar Sesión" icon="pi pi-sign-out" (click)="login()" class="p-button-text" ></button>
        </div>
    </div>

