
     <div class="card-login"> 
            <p-avatar  
            image="{{ isLoggedIn?.verify_authentication?.user?.avatar }}" 
            [style]="{'background-color': '#9c27b0', 'color': '#ffffff',
             'width':'6rem', 'height':'6rem'}"  
             styleClass="mr-2" size="xlarge"
             shape="circle" ></p-avatar>
        <div class="card-body">
            <h5 class="card-title">{{ isLoggedIn?.verify_authentication?.user?.name }}</h5>
            <p class="card-text">{{ isLoggedIn?.verify_authentication?.user?.email }}</p>
            <button pButton type="button" label="Cerrar Sesión" icon="pi pi-sign-out" (click)="logout()" class="p-button-text" ></button>
        </div>
    </div>

