
    <p-card header="{{ isLoggedIn?.login?.user?.name }}" 
        subheader="{{ isLoggedIn?.login?.user?.email }}" [style]="{ 'width': '20rem','height':'20rem'}" styleClass="p-card-shadow ">

        <ng-template pTemplate="header" [style]="{'align':'center'}" >
            <p-avatar [shape]="'circle'" [size]="'large'" [style]="{'margin-left':'10px','width': '6rem','height':'6rem'}" [styleClass]="'p-avatar-large'" >
                <img src="{{ isLoggedIn?.login?.user?.avatar }}" alt="avatar" />
            </p-avatar>            
        </ng-template>
        
        <p-divider></p-divider>
        <ng-template pTemplate="subheader" [style]="{'align':'center'}" >         
            <button pButton type="button" label="Cerrar Sesión" icon="pi pi-sign-out" (click)="logout()" class="p-button-text" ></button>
        </ng-template>  
    </p-card>

