<p-messages></p-messages>
<div class="plan-trabajo">
    <p-panel header="Registro del plan de trabajo">
      <div class="field col-12 md:col-4">
        <p-treeSelect  
        id="select-tree" 
        [options]="files"
        (onNodeSelect)="nodeSelectSave($event)"
        placeholder="Seleccione el año para publicar su plan de trabajo"></p-treeSelect>
        <span *ngIf="!displayForm; else save"></span>          
      </div>
      <ng-template #save>
        <form class="search-form" [formGroup]="saveForm" autocomplete="off">       
          <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-file"></i>
            </span>          
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText formControlName="label"> 
                <label for="inputgroup">Nombre del archivo</label>                
            </span>
            </div>
            <p-message *ngIf="validateField('label')" severity="error" [text]="getErrorMessage('label')"></p-message>       
          </div>
          <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-file"></i>
            </span>          
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText formControlName="data"> 
                <label for="inputgroup">Descripción</label>                
            </span>
            </div>
            <p-message *ngIf="validateField('data')" severity="error" [text]="getErrorMessage('data')"></p-message>       
          </div>
          <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-file"></i>
            </span>          
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText formControlName="url"> 
                <label for="inputgroup">Liga del archivo</label>
                
            </span>
            </div>
            <p-message *ngIf="validateField('url')" severity="error" [text]="getErrorMessage('url')"></p-message>       
          </div>
          <!-- button save -->
          <div class="field col-12 md:col-4 form-item">
            <p-button label="Guardar" class="p-button-success" (click)="saveFile()"></p-button>
          </div>
        </form>   

      </ng-template>   
    </p-panel>

    <p-divider id="divider-user" layout="vertical" align="center">
      <i class="pi pi-user mr-2"></i>
    </p-divider>
    
    <p-panel header="Planes de trabajo">
        <p-tree [value]="files" 
        selectionMode="single" 
        [(selection)]="filterTree" 
        (onNodeSelect)="nodeSelect($event)"
        (onNodeUnselect)="nodeSelect($event)">
      </p-tree>
    </p-panel>  
</div>  
<p-dialog header="Actualizar plan de trabajo" [(visible)]="display">
  <form class="search-form" [formGroup]="updateForm" autocomplete="off" >
    <div class="field col-12 md:col-4 form-item">
      <button pButton pRipple type="button"  icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
      <!-- <p-confirmPopup></p-confirmPopup>   -->
    </div>       
    <div class="field col-12 md:col-4 form-item">
      <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
          <i class="pi pi-pencil"></i>
      </span>          
      <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText formControlName="label" [value]="update_wpd.label"> 
          <label for="inputgroup">Nombre del archivo</label>
      </span>
      </div>       
    </div>
    <div class="field col-12 md:col-4 form-item">
      <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
          <i class="pi pi-pencil"></i>
      </span>          
      <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText formControlName="data" [value]="update_wpd.data"> 
          <label for="inputgroup">Descripción</label>
      </span>
      </div>       
    </div>
    <div class="field col-12 md:col-4 form-item">
      <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
          <i class="pi pi-pencil"></i>
      </span>          
      <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText formControlName="url" [value]="update_wpd.url"> 
          <label for="inputgroup">Liga del archivo</label>
      </span>
      </div>       
    </div>
    <!-- button save -->
    <div class="field col-12 md:col-4 form-item">
    <button pButton pRipple type="button" label="Actualizar" [formGroup]="updateForm" class="p-button-outlined p-button-primary" icon="pi pi-pencil"></button>  
    </div>
  </form>   
</p-dialog>