<div class="kpis">

      <form class="search-form">
        <div class="label-buscar">
          <label for="buscar"> Buscador de Organos Internos de Control</label>
        </div>
        <div id="buscar" class="p-fluid">
            <p-autoComplete 
              [suggestions]="filteredOic"  
              [dropdown]="true"
              [multiple]="true"
              (completeMethod)="filterOic($event)"
              field="nombre_ente" 
              [minLength]="1"
              placeholder="Buscar Entes Públicos"
              >
            </p-autoComplete>       
        </div>
      </form>
    
      <p-divider layout="vertical" align="center">
        <i class="pi pi-user mr-2"></i>
      </p-divider>

      <p-panel header="Estadisticas de Procesos" class="p-kpis">
        <p-chart type="doughnut" [data]="data" ></p-chart>
      </p-panel>

</div>