.kpis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;
        align-items: center;      
    }
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;    
}

.label-buscar{
    font-size: 1.5rem;
    color: var(--text-color-secondary);
    font-weight: bold;
    padding-bottom: 1rem;
}

.p-kpis{
    width: 25rem;
    max-width: 25rem;
}

.message-finder{
    display: flex;
}