<form class="history-form"  autocomplete="off">    
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                <input type="text" pInputText value="ntaehuotnahoeunhaontehuoanhusnaohethuaonheuthoehuatonehuo" disabled="true">         
            </div>
        </div>
        <div class="field col-12 md:col-4 form-item">
            lorem ipsum dolor sit amet, consectet
        </div>
    </div>
</form>
