
<form class="search-form"  autocomplete="off">    
    <div class="p-fluid grid">
        <!-- delete buttom -->
        <!-- <div  class="field col-12 md:col-4 form-item">          
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>                   
        </div>  -->
                    <!--  Strart Fields-->
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-align-justify"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputName" pInputText class="p-inputtext-lg"> 
                    <label for="inputName">Nombre Completo</label>
                </span>
            </div>
           
        </div>
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputEmail" pInputText > 
                        <label for="inputEmail">Correo</label>
                    </span>
                </div>
            </div>            
        </div>
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-phone"></i>
                </span>
                <span class="p-float-label">
                    <input type="number" id="inputPhone" pInputText > 
                    <label for="inputPhone">Teléfono</label>
                </span>
            </div>            
        </div>
        <div class="field col-12 md:col-4 form-item">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputCharge" pInputText > 
                    <label for="inputCharge">Cargo o Puesto</label>                                  
                </span>
            </div>
            
        </div>        
        <!-- Boton de guardar -->
        <div  ng class="field col-12 md:col-4 form-item">            
            <button pButton pRipple type="button" label="Guardar"class="p-button-outlined" icon="pi pi-user-plus"></button>            
        </div>
       
    </div>
</form>
